{
  "version": "2.0.0",
  "tasks": [
    {
      "label": "LaTeX: build main PDF",
      "type": "shell",
      "command": "make pdf",
      "group": {
        "kind": "build",
        "isDefault": true
      },
      "problemMatcher": []
    },
    {
      "label": "LaTeX: watch main PDF",
      "type": "shell",
      "command": "make watch",
      "isBackground": true,
      "problemMatcher": [],
      "presentation": {
        "reveal": "silent",
        "panel": "dedicated"
      }
    }
  ]
}

