% !TeX program = lualatex
% !TeX root = main.tex
\documentclass[UTF8,11pt,openany,fontset=fandol]{ctexbook}

\usepackage{qlmathnotes}

% Optional bibliography support:
% \usepackage[backend=biber,style=numeric,sorting=nyt]{biblatex}
% \addbibresource{reference.bib}

\title{{{TITLE}}{{TITLE_SUFFIX}}}
\author{{{AUTHOR}}}
\date{{{DATE}}}

\begin{document}
\frontmatter
\maketitle
\tableofcontents

\mainmatter
\input{chapters/01-introduction}

% \printbibliography

\end{document}
