{
  "umath.preview.enableMathPreview": true,
  "umath.preview.renderer": "mathjax",
  "[latex]": {
    "editor.wordBasedSuggestions": "off",
    "editor.quickSuggestions": {
      "other": true,
      "comments": false,
      "strings": false
    }
  },
  "search.exclude": {
    "build": true
  }
}
